{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-md-4 offset-md-4">
      <h1 class="my-5 text-center">Reset Password</h1>

      {% if form.email.errors %}
       <div class="alert alert-danger" role="alert">
          {{ form.email.errors }}
       </div>
      {% endif %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row mb-3">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" name="email" id="email" class="form-control" />
          </div>
        </div>
        <div class="mx-auto mt-5 text-center">
          <input type="submit" class="btn btn-primary" value="Reset password">
        </div>
      </form>
    </div>
  </div>
{% endblock %}