{% extends 'base.html' %}
{% block title %}My Posted Books{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">My Books for Sale</h1>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for book in books %}
            <div class="col">
                <div class="card shadow-sm">
                    <img alt="{{ book.title }}" src="{{ book.image }}"/>

                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">Description: {{ book.description }}</p>
                        <p class="card-text">Quantity: {{ book.quantity }}</p>
                        <p class="card-text">Price: {{ book.price }}</p>
                        <p class="card-text">Author: {{ book.author }}</p>
                        <p class="card-text">Genre: {{ book.genre }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'book_detail' book.id %}">View
                                    Details</a>
                                <button class="btn btn-sm btn-primary" type="button">Add to Cart</button>
                            </div>
                            {% load humanize %}
                            <small class="text-muted">{{ book.created_at|naturaltime }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}