{% extends 'base.html' %}
{% block title %}My Posted Books{% endblock %}

{% block content %}
<div class="container">
  <h1 class="my-5 text-center">My Posted Books</h1>
  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      <ul class="list-unstyled">
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Genre</th>
        <th scope="col">Author</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      {% for posted_book in posted_books %}
        <tr>
          <td>{{ posted_book.title }}</td>
          <td>{{ posted_book.year }}</td>
          <td>{{ posted_book.genre }}</td>
          <td>{{ posted_book.author }}</td>
          <td>{{ posted_book.description }}</td>
          <td>{{ posted_book.price }}</td>
          <td>{{ posted_book.quantity }}</td>
          <td>
            <img src="{{ posted_book.image }}" alt="{{ posted_book.title }}">
          </td>
        </tr>
      {% empty %}
        <tr>
          <th class="text-center" colspan="8">No posted books available to display</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}