{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                 {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="m-t-30"><img class="rounded-circle" src="{{ user.profile.image }}"
                                                width="150">
                        <h4 class="card-title m-t-10">{{ user.first_name.title }} {{ user.last_name.title }}</h4>
                        <h6 class="card-subtitle">{{ user.email }}</h6>
                    </center>
                </div>
                <div>
                    <hr>
                </div>
                <div class="card-body">
                    <small class="text-muted">Current Balance</small>
                    <h6>₱ {{ user.profile.balance }}</h6>
                    <small class="text-muted p-t-30 db">Birthdate</small>
                    <h6>{{ user.profile.birthdate }}</h6>
                    <small class="text-muted p-t-30 db">Address</small>
                    <h6>{{ user.profile.address }}</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material mx-2" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                          <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="col-md-12 col-form-label">{{ field.label }}</label>
                            <div class="col-md-12">
                              <input type="{{ field.widget_type }}"
                               name="{{ field.name }}"
                               class="form-control form-control-line{% if field.errors %} is-invalid{% endif %}"
                               id="{{ field.auto_id }}"
                               {% if field.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %}
                               maxlength="{{ field.field.max_length }}"{% if forloop.counter0 == 0 %} autofocus{% endif %}>
                              {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}
                              {% if field.help_text %}
                                <div class="form-text">{{ field.help_text|safe }}</div>
                              {% endif %}
                            </div>
                          </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-12 mt-4">
                                <button class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}