<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>Book Shop - {% block title %}Home{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body class="d-flex flex-column h-100">

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
    <a class="h5 my-0 me-md-auto fw-normal text-decoration-none text-dark" href="{% url 'home' %}"><i class="fas fa-book"></i> Book Shop</a>
    <nav class="my-2 my-md-0 me-md-3">
        {% if user.is_authenticated %}
            <a class="p-2 text-dark" href="{% url 'cart_items' %}">
                <i class="fas fa-shopping-cart"></i> Cart Items
                <span class="badge bg-dark" id="cart-items-count">{{ request.session.book_items|length }}</span>
            </a>
            <a class="p-2 text-dark" href="{% url 'sell_book' %}">Sell a book</a>
            <a class="nav-link dropdown-toggle p-2 text-dark d-inline-block" data-bs-toggle="dropdown" href="#">{{ user.first_name.title }} {{ user.last_name.title }}</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{% url 'add_balance' %}">Add Balance</a>
                    <a class="dropdown-item" href="{% url 'profile' user.username %}">My Profile</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="{% url 'books_for_sale' %}">My Books for Sale</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'purchased_books' %}">My Purchased Books</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        {% else %}
            <a class="p-2 text-dark" href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    {% if not user.is_authenticated %}
        <a class="btn btn-outline-primary" href="{% url 'signup' %}">Signup</a>
    {% endif %}
</header>

<main class="flex-shrink-0 py-3">
    {% block content %}{% endblock %}
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Copyright &copy; {% now "Y" %} Bookshop . All rights reserved.</span>
  </div>
</footer>

{% load static %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
